<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <!--<script type="text/javascript" th:src="@{/js/moment.min.js}" />-->
    <!--<script src="/js/moment.min.js"></script>-->
</head>
<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:text="${user.login}"></span>
            <button id="logout" >logout</button>
            <!--<a th:href="@{/logout}">Logout</a>-->
        </div>
        <h3>Spring WebSocket Chat Demo</h3>
    </div>
    <hr/>
    <ul id="messageArea">
    </ul>
    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Type a message..."/>
            <button type="submit">Send</button>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>